.products {
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin: 0 auto;
    top: 25%;
    left: 9%;
    width: 1150px;

    @media #{$mobile-width} {
        position: static;
        width: auto;
        max-width: 767px;
        display: block;
      }

      @media #{$tablet-width} {
          position: static;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
      }

      @media #{$desktop-width} {
        position: fixed;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

}

.products__question {
    position: fixed;
    top: 122px;
    left: 478px;
    color: #ffffff;
    font-family: $font-exo;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 1px 1px #000000;

    @media #{$mobile-width} {
        position: static;
      }

    @media #{$tablet-width} {
      position: static;
      width: auto;
    }

    @media #{$desktop-width} {
        position: fixed;
      }
}   

.products__item {
    position: relative;
    background-color: transparent;
    width: 319px;
    margin: 0 auto;
    height: 560px;

    @media #{$tablet-width} {
        margin: 0 15px;
      }
}

.card {
    position: relative;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    background-color: #1698d9;
    padding: 4px;
    border-radius: 17px;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    cursor: pointer;

    &::after {
        content: "";
        position: relative;
        display: block;
        // top: -19px;
        z-index: -1;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        border-radius: 11px;
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    }

    &--disabled {
        background-color: #b3b3b3;
        cursor: default;
    }

    &--selected {
        background-color: #d91667;
    }

    &--selected-hover {
        background-color: #e52e7a;
    }
}

.products__availability {
    position: absolute;
    bottom: 50px;
    left: 56px;
    color: white;
    font-family: $font-trebuchet;
    font-size: 14px;
    line-height: 16px;
    z-index: 10;

    a {
        color: #1698d9;
        text-decoration: none;
        border-bottom: 1px dotted;
        font-family: $font-trebuchet;
    }

    @media #{$mobile-width} {
        position: absolute;
        bottom: 47px;
        text-align: center;
      }

    &-disabled {
        position: absolute;
        text-align: center;
        bottom: 50px;
        font-size: 13px;
        width: 346px;
        color: #ffff66;
    }

    &-selected {
        position: absolute;
        right: -14px;
        text-align: center;
        bottom: 50px;
        font-size: 13px;
        width: 346px;
        color: white;
        font-family: $font-trebuchet;
    }
}