$mobile-width: (max-width: 767px);
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1100px)";
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$border-color: #d9d9d9;
$font: "Trebuchet MS", "Arial", sans-serif;
$font-exo: "Exo 2.0", "Arial", sans-serif;
$font-trebuchet: "Trebuchet", "Arial", sans-serif;
$font-serveroff: "Serveroff", "Arial", sans-serif;

// #{$media}